<suite name="Parallel Tests" parallel="tests" thread-count="1">

<test name="power house with firefox">
<parameter name="browser" value="firefox"/>
<classes>
<class name="com.powerhouse.testcases.LoginWithDifferentOption"/>
</classes>
</test>
  
<test name="power house testcases with chrome">
<parameter name="browser" value="chrome"/>
<classes>
<class name="com.powerhouse.testcases.LoginWithDifferentOption"/>
</classes>
</test> 

</suite>